@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --font-family-big-shoulders: 'Big Shoulders Display', cursive;
    --font-family-lexend-deca: 'Lexend Deca', sans-serif;
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --font-size: 0.9375rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-big-shoulders);
    font-size: var(--font-size);
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 0;
}

body {
    background-color: var(--very-light-gray);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    width: 55rem;
    justify-content: center;
    align-items: center;
    height: 23rem;
}

.card {
    background: var(--bright-orange);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    height: 100%;
}

.card__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.card__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.card__description {
    color: white;
    font-family: var(--font-family-lexend-deca);
    line-height: rem;
}

.card__button {
    font-family: var(--font-family-lexend-deca);
    background: none;
    outline: none;
    border: none;
    background: white;
    border-radius: 1.5rem;
    padding: 5% 15%;
    border: 0.14rem solid transparent;

}

.card:first-child .card__button {
    color: var(--bright-orange);
}

.card:nth-child(2) .card__button {
    color: var(--dark-cyan);
}

.card:nth-child(3) .card__button {
    color: var(--very-dark-cyan);
}

.card__button:hover {
    background: none;
    border: 0.14rem solid white;
    cursor: pointer;
    color: white !important;
}

.card:first-child {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.card:last-child {
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 54rem) {
    body {
        height: unset;
        /* padding: 10%; */
    }

    main {
        flex-direction: column;
        height: unset;
        padding: 13% 5%;
    }

    .card {
        padding: 10% 15%;
        gap: 3rem;
    }

    .card__description{
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
    }

    .card:first-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .card:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
}